@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You're seeing a demo of the ASP.NET Razor Page application that utilizes a CRUD API.</p>
</div>
